In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.svm import SVR

df = pd.read_csv("./train.csv")
for x in df.columns:
    df[x] = pd.to_numeric(df[x])

train_cols = [x for x in df.columns if x != 'metric']
train = df[train_cols]
test = df['metric']
del train['Unnamed: 0']

train.tail(20)

        hour  day  week  sqm   latitude  longitude  year
157723    19   11     6  400  44.573752  10.984388  2018
157724    20   11     6  400  44.573752  10.984388  2018
157725    21   11     6  400  44.573752  10.984388  2018
157726    22   11     6  400  44.573752  10.984388  2018
157727    23   11     6  400  44.573752  10.984388  2018
157728     0   12     7  400  44.573752  10.984388  2018
157729     1   12     7  400  44.573752  10.984388  2018
157730     2   12     7  400  44.573752  10.984388  2018
157731     3   12     7  400  44.573752  10.984388  2018
157732     4   12     7  400  44.573752  10.984388  2018
157733     5   12     7  400  44.573752  10.984388  2018
157734     6   12     7  400  44.573752  10.984388  2018
157735     7   12     7  400  44.573752  10.984388  2018
157736     8   12     7  400  44.573752  10.984388  2018
157737     9   12     7  400  44.573752  10.984388  2018
157738    10   12     7  400  44.573752  10.984388  2018
157739    11   12     7  400  44.573752  10.984388  2018
157740    12   12     7  400  44.573752  10.984388  2018
157741    13   12     7  400  44.573752  10.984388  2018
157742    14   12     7  400  44.573752  10.984388  2018

In [ ]:
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)
svr_lin = SVR(kernel='linear', C=1e3)
svr_poly = SVR(kernel='poly', C=1e3, degree=2)
y_rbf = svr_rbf.fit(train, test).predict(X)
print("Fit RBF")
y_lin = svr_lin.fit(train, test).predict(X)
print("Fit Linear")
y_poly = svr_poly.fit(train, test).predict(X)

print("Plotting")
lw = 2
plt.scatter(X, y, color='darkorange', label='data')
plt.plot(X, y_rbf, color='navy', lw=lw, label='RBF model')
plt.plot(X, y_lin, color='c', lw=lw, label='Linear model')
plt.plot(X, y_poly, color='cornflowerblue', lw=lw, label='Polynomial model')
plt.xlabel('data')
plt.ylabel('target')
plt.title('Support Vector Regre ssion')
plt.legend()
plt.show()